# PYTHON 50-1

### 2. all_unuque

In [66]:
def all_unique(lst):
    lst_len = len(lst)
    lst_mo = set(lst)
    if lst_len == len(lst_mo):
        return True
    else:
        return False

In [67]:
all_unique([1,2,3,4,5,6])

True

In [68]:
all_unique([1,2,2,3,4,5])

False

### 3. capitalize every word

In [69]:
s = "hello world"

def capitalize_every_word(s):
	return s.upper()
print(capitalize_every_word(s))

HELLO WORLD

### 4. celsius to fahrenheit

In [70]:
celsius = 180

def celsius_to_fahrenheit(celsius):
    return  (celsius*1.8)+32
	

print(celsius_to_fahrenheit(celsius))

356.0

### 5. compact

In [71]:
lst = [0, 1, False, 2, '', 3, 'a', 's', 34]

def compact(lst):
	return list(filter(bool,lst))

print(compact(lst))

[1, 2, 3, 'a', 's', 34]

### 6. count occurences

In [72]:
lst = [1,1,2,1,2,3]

def count_occurences(lst, val):
	return lst.count(val)

print(count_occurences(lst,1))

3

### 7. degrees to rads

In [73]:
from math import pi 
import math

degrees = 180

def degrees_to_rads(degrees):
    return math.radians(degrees)

print(degrees_to_rads(degrees))

3.141592653589793

### 8. difference

In [74]:
lst1 = [1,2,3]
lst2 = [1,2,4]

def difference(a,b) : 
    
    return list(set(a).difference(b))

print(difference(lst1, lst2))

[3]

### 9. digitize

In [75]:
a = 123

def digitize(n):
    return  list(map(int, str(n)))

print(digitize(a))

[1, 2, 3]

### 10. drop

In [108]:
def drop(lst, n=1):
    if n > len(lst):
        n = len(lst)
        for i in range(n):
            lst.remove(lst[0])
    else:
        for i in range(n):
            lst.remove(lst[0])
            
            
    return lst

In [109]:
drop([1,2,3])

[2, 3]

In [110]:
drop([1,2,3],2)

[3]

In [111]:
drop([1,2,3],42)

[]

In [10]:
class Notebook: # Notebook class를 정의합니다.
    def __init__(self, manufacturer, model, memory1, memory2):
        # manufacturer, model, memory1, memory2 변수 정의
        '''code here'''
        self.manufacturer = manufacturer
        self.model = model
        self.memory1 = memory1
        self.memory2 = memory2
        
nb = Notebook("Apple", "MacBook Pro", 16, 512)
print("---- Notebook Information ----")
print(f"Manufacturer : {nb.manufacturer}")
print(f"Model : {nb.model}")
print(f"RAM : {nb.memory1}")
print(f"SSD : {nb.memory2}")

---- Notebook Information ----
Manufacturer : Apple
Model : MacBook Pro
RAM : 16
SSD : 512

In [15]:
UNIX = set(["macOS X", "CentOS", "Ubuntu", "iOS", "Android", "webOS"]) # 일부만 예제로 가져왔습니다.

class Notebook:
    def __init__(self, manufacturer, model, memory1, memory2, os):
        self.manufacturer = manufacturer
        self.model = model
        self.memory1 = memory1
        self.memory2 = memory2
        # os 정보를 저장하는 변수
        self.os = os

    # os가 UNIX에 포함되는지 안되는지 판단하는 함수.    
    def is_UNIX(self):
        if self.os in UNIX:
            return True
        else:
            return False
				

nb = Notebook("Apple", "MacBook Pro", 16, 512, "macOS X")
nb2 = Notebook("Dell", "Dell XPS", 16, 1024, "Windows 10")

# nb가 UNIX인지 아닌지 확인하는 코드
print( Notebook.is_UNIX(nb) )
# nb2가 UNIX인지 아닌지 확인하는 코드
print( Notebook.is_UNIX(nb2) )

True
False

In [17]:
# 일부만 예제로 가져왔습니다.
UNIX = set(["macOS X", "CentOS", "Ubuntu", "iOS", "Android", "webOS"])

class Notebook:
    def __init__(self, manufacturer, model, memory1, memory2, os):
        self.manufacturer = manufacturer
        self.model = model
        self.memory1 = memory1
        self.memory2 = memory2
        # os 정보를 저장하는 변수
        self.os = os
        
    def is_UNIX(self):
        # os가 UNIX에 포함되는지 안되는지 판단하는 함수.
        if self.os in UNIX:
            return True
        else:
            return False
				

    def print_model(self):
        # 해당 노트북의 모델을 출력해주는 함수.
        return self.model

nb = Notebook("Apple", "MacBook Pro", 16, 512, "macOS X")
nb2 = Notebook("Dell", "Dell XPS", 16, 1024, "Windows 10")

# nb의 model을 출력해주는 코드
# nb2의 model을 출력해주는 코드
print(Notebook.print_model(nb))
print(Notebook.print_model(nb2))

MacBook Pro
Dell XPS

In [ ]:
# 일부만 예제로 가져왔습니다.
UNIX = set(["macOS X", "CentOS", "Ubuntu", "iOS", "Android", "webOS"])

# notebook class를 상속받아서 새로운 MacBook class를 정의
		# 변수 추가 필요
class MacBook(Notebook):
    def __init__(self, manufacturer, model, memory1, memory2, os, period, size): 
        self.manufacturer = manufacturer
        self.model = model
        self.memory1 = memory1
        self.memory2 = memory2
        self.os = os
        self.period = period
        self.size = size
        # 세부 모델명을 저장하는 period 변수 선언.
        # 화면 크기를 저장하는 size 변수 선언.
        '''code here'''     

# notebook class를 상속받아서 새로운 Dell_Laptop class를 정의
		# 변수 추가 필요
class Dell_Laptop(Notebook):
    def __init__(self, manufacturer, model, memory1, memory2, os, naming, size):
        self.manufacturer = manufacturer
        self.model = model
        self.memory1 = memory1
        self.memory2 = memory2
        self.os = os
        self.naming = naming
        self.size = size
        # 세부 모델명을 저장하는 naming 변수 선언.
        # 화면 크기를 저장하는 size 변수 선언.
        '''code here'''

In [ ]:
class MacBook(Notebook):
    def __init__(self, manufacturer, model, memory1, memory2, os, period, size):
        super().__init__(manufacturer, model, memory1, memory2, os)
        self.period = period
        self.size = size
        

class DellLaptop(Notebook):
    def __init__(self, manufacturer, model, memory1, memory2, os, period, size):
        super().__init__(manufacturer, model, memory1, memory2, os)
        self.period = period
        self.size = size

### 7번 : Method Overriding

In [24]:
# 일부만 예제로 가져왔습니다.
UNIX = set(["macOS X", "CentOS", "Ubuntu", "iOS", "Android", "webOS"])

class MacBook(Notebook):
    def __init__(self, manufacturer, model, memory1, memory2, os, period, size):
        super().__init__(manufacturer, model, memory1, memory2, os)
        self.period = period
        self.size = size

	# 해당 노트북의 모델을 출력해주는 print_model 함수.
    def print_model(self):
        return f"* {self.manufacturer} Model : {self.model} ({self.size} inch, {self.period})"

class DellLaptop(Notebook):
    def __init__(self, manufacturer, model, memory1, memory2, os, period, size):
        super().__init__(manufacturer, model, memory1, memory2, os)
        self.period = period
        self.size = size
      
	# 해당 노트북의 모델을 출력해주는 print_model 함수.
    def print_model(self):
        return f"* {self.manufacturer} Model : {self.model} {self.size} {self.period}"

macbook = MacBook("Apple", "MacBook Pro", 16, 512, "macOS X", "Late 2015", 15)
delllaptop = DellLaptop("Dell", "Dell XPS", 16, 1024, "Windows 10", 9500, 15)

print(macbook.print_model())
print(delllaptop.print_model())

* Apple Model : MacBook Pro (15 inch, Late 2015)
* Dell Model : Dell XPS 15 9500

## 산술과 기초수학

In [35]:
def average_score(score):
    score = score.split(" ")
    score = (int(score[0]) + int(score[1]) + int(score[2]))/len(score)
    output = int(score)
    return output

In [36]:
average_score("20 30 40")

30

In [38]:
def avg():
    score=list(map(int,input('점수를 입력하시오').split()))
    avgs = sum(score)/len(score)
    print(f'{avgs:.0f}')
avg()

30

In [41]:
def power():
    score = list(map(int, input("숫자를 입력하시오.").split()))
    pwoers = score[0] ** score[1]
    return pwoers
power()

8

In [52]:
def divmod():
    n, m = map(int, input("숫자를 입력하시오.").split())
    print(n//m, n%m)
divmod()

5 0

In [55]:
from math import pi

def circle_area():
    num = int(input("반지름을 입력하시오."))
    area = num*num*pi
    return area

circle_area()

78.53981633974483

In [65]:
import time

time.strftime("%Y",time.localtime(time.time()))

'2022'

In [66]:
def max_num():
    num = list(map(int, input("숫자를 입력하시오.").split()))
    max_n = max(num)
    return max_n

max_num()

7

In [129]:
import random  as r


class_score = []
average_score_by_subject = []
average_score_by_student = []

for i in range(30):
    score = []
    for j in range(5):
        score.append(r.randint(1, 100))
    average_score = int(sum(score)/len(score))
    average_score_by_student.append(average_score)
    class_score.append(score)

for j in range(5):
    a = 0
    for i in range(len(class_score)):
        a += class_score[i][j]
    average_score_by_subject.append(int(a/len(class_score)))

'''
code here
# average_score_by_subject는 모든 학생의 과목별 평균을 담고 있는 리스트입니다.
# average_score_by_student는 모든 학생의 학생별 평균을 담고 있는 리스트입니다.
'''

print(average_score_by_subject)
print(average_score_by_student)

[53, 53, 52, 50, 54]
[29, 66, 46, 71, 51, 67, 55, 43, 47, 37, 64, 57, 54, 54, 30, 48, 68, 51, 37, 53, 70, 74, 61, 82, 38, 49, 43, 36, 29, 60]

In [97]:
[51, 52, 48, 57, 54] # 국어평균, 영어평균, 수학평균, 사회평균, 과학평균
[45, 34, 50, 12, 87, ... , 34, 56, 76] # 0번학생, 1번학생 , ... , 29번학생

[45, 34, 50, 12, 87, Ellipsis, 34, 56, 76]

In [ ]:
import random  as r

score = []
class_score = []
student = []
subject = []
for i in range(5):
    row = []
    subject.append(row)


for i in range(30):
    for j in range(5):
        score.append(r.randint(1, 100))
        subject[j].append(score[j])
    student.append(score)
    score = []


# print(subject)
# print(student)
ave_student = []
ave_subject = []
for row in student:
    ave_student.append(int(sum(row)/5))
for row in subject:
    ave_subject.append(int(sum(row)/30))
print(ave_subject)
print(ave_student)

In [ ]:
def times(*args):